## 1. Print numbers from 0 to 9

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

## 2. Print numbers from 1 to 20

In [1]:
for i in range(1, 21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

## 3. Print even numbers from 1 to 20

In [1]:
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

## 4. Print odd numbers from 1 to 20

In [1]:
for i in range(1, 21, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

## 5. Print numbers from 10 to 1 (reverse)

In [1]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

## 6. Sum of first N natural numbers

In [1]:
n = 5
total = 0
for i in range(1, n + 1):
    total += i
print("Sum:", total)

Sum: 15

## 7. Multiplication table of 7

In [1]:
num = 7
for i in range(1, 11):
    print(num, "x", i, "=", num * i)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

## 8. Count numbers divisible by 3 between 1 and 50

In [1]:
count = 0
for i in range(1, 51):
    if i % 3 == 0:
        count += 1
print("Count:", count)

Count: 16

## 9. Print squares from 1 to 10

In [1]:
for i in range(1, 11):
    print(i * i)

1
4
9
16
25
36
49
64
81
100

## 10. Print list elements using index

In [1]:
fruits = ["apple", "banana", "mango"]
for i in range(len(fruits)):
    print(i, fruits[i])

0 apple
1 banana
2 mango

## 11. Numbers divisible by both 3 and 5 (1–100)

In [1]:
for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        print(i)

15
30
45
60
75
90

## 12. Factorial of a number

In [1]:
n = 5
fact = 1
for i in range(1, n + 1):
    fact *= i
print("Factorial:", fact)

Factorial: 120

## 13. Fibonacci series (10 terms)

In [1]:
n = 10
a, b = 0, 1
for i in range(n):
    print(a)
    a, b = b, a + b

0
1
1
2
3
5
8
13
21
34

## 14. Find maximum in list

In [1]:
numbers = [4, 7, 1, 9, 3]
max_val = numbers[0]
for i in range(1, len(numbers)):
    if numbers[i] > max_val:
        max_val = numbers[i]
print("Max:", max_val)

Max: 9

## 15. Print triangle pattern

In [1]:
for i in range(1, 6):
    print("*" * i)

*
**
***
****
*****

## 16. Print prime numbers between 1 and 50

In [1]:
for num in range(2, 51):
    is_prime = True
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

## 17. Reverse a number

In [1]:
num = 1234
reverse = 0
while num > 0:
    digit = num % 10
    reverse = reverse * 10 + digit
    num //= 10
print("Reversed:", reverse)

Reversed: 4321

## 18. Count digits in a number

In [1]:
num = 98765
count = 0
while num > 0:
    count += 1
    num //= 10
print("Digits:", count)

Digits: 5

## 19. Print pyramid pattern

In [1]:
n = 5
for i in range(n):
    print(" " * (n - i - 1) + "*" * (2 * i + 1))

    *
   ***
  *****
 *******
*********

## 20. Multiples of 7 under 100 using list comprehension

In [1]:
multiples = [i for i in range(1, 100) if i % 7 == 0]
print(multiples)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]