## 1. Print numbers from 0 to 9

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

## 2. Print numbers from 1 to 20

In [1]:
for i in range(1, 21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

## 3. Print even numbers from 1 to 20

In [1]:
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

## 4. Print odd numbers from 1 to 20

In [1]:
for i in range(1, 21, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

## 5. Print numbers from 10 to 1 (reverse)

In [1]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

## 6. Sum of first N natural numbers

In [1]:
n = 5
total = 0
for i in range(1, n + 1):
    total += i
print("Sum:", total)

Sum: 15

## 7. Multiplication table of 7

In [1]:
num = 7
for i in range(1, 11):
    print(num, "x", i, "=", num * i)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

## 8. Count numbers divisible by 3 between 1 and 50

In [1]:
count = 0
for i in range(1, 51):
    if i % 3 == 0:
        count += 1
print("Count:", count)

Count: 16

## 9. Print squares from 1 to 10

In [1]:
for i in range(1, 11):
    print(i * i)

1
4
9
16
25
36
49
64
81
100

## 10. Print list elements using index

In [1]:
fruits = ["apple", "banana", "mango"]
for i in range(len(fruits)):
    print(i, fruits[i])

0 apple
1 banana
2 mango